# API Keys
FAL_KEY=
OPENAI_API_KEY=
APIFY_TOKEN=
HF_TOKEN=

# Meta
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
META_PIXEL_ID=

# Oxylabs
OXYLABS_USERNAME=
OXYLABS_PASSWORD=

# Shopify
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_SHOP=2fgppd-7k.myshopify.com

# Google
GOOGLE_SHEET_ID=
PRODUCT_SHEET_ID=

# Zapier
ZAPIER_WEBHOOK_URL=
